.app{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: greenyellow;
    height: 100vh;
    width: 100%;
}
.nav{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: red;
    height: 10%;
    width: 100%;
}
.main{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color:green;
    height: 40%;
    width: 100%;
}
.sidebar{
    box-sizing: border-box;
    display: flex;
   
}
.side1{
    box-sizing: border-box;
    display:flow-root;
    margin: 0px;
    padding: 0px;
    height: 40vh;
    width: 60%;
    background-color: yellow;
}
.side2{
    box-sizing: border-box;
    display:flow-root;
    margin: 0px;
    padding: 0px;
    height: 40vh;
    width: 40%;
    background-color:chocolate;
}
.foot{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: blue;
    height: 10%;
    width: 100%;
}